<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-user"></i> {{doctorCtrl.doctor.doctorname}}
                </div>
                <div class="card-block">
                    <div class="card-block p-2">
                        <div class="row">
                            <div class="col-md-6">
                                <p>{{doctorCtrl.doctor.speciality}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>{{doctorCtrl.doctor.degree}}</p>
                            </div>
                        </div>
                        <hr>
                		<div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="bg-primary" style="padding:0 5px;"> Licence Number</label>&nbsp;{{doctorCtrl.doctor.licencenumber}}
                                </div>
                                <div class="row">
                                    <label class="bg-primary" style="padding:0 5px;"> Rank</label>&nbsp;{{doctorCtrl.doctor.rank}}
                                </div>
                                <div class="row">
                                    <label class="bg-primary" style="padding:0 5px;"> Department</label>&nbsp;{{patientCtrl.patient.department}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="bg-primary" style="padding:0 5px;"> Address</label>&nbsp;{{doctorCtrl.doctor.address}}
                                </div>
                                <div class="row">
                                    <label class="bg-primary" style="padding:0 5px;"> Phone</label>&nbsp;{{doctorCtrl.doctor.homephone}}
                                </div>
                                <div class="row">
                                    <label class="bg-primary" style="padding:0 5px;"> Mobile</label>&nbsp;{{patientCtrl.patient.mobile}}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h2>
                                    <span class="badge badge-success" >
                                        Reputation: {{ doctorCtrl.doctor.Users.reputation }}
                                    </span>
                                </h2>
                            </div>
                            <div class="col-md-4">
                                <h2 class="text text-success">
                                    <i class="icon-arrow-up-circle"></i>
                                    {{doctorCtrl.doctor.Users.upvotes}}
                                </h2>
                            </div>
                            <div class="col-md-4">
                                <h2 class="text text-warning">
                                    <i class="icon-arrow-down-circle"></i>
                                    {{doctorCtrl.doctor.Users.downvotes}}
                                </h2>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>
                                    Questions
                                    <span class="badge badge-info" >10</span>
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Answers
                                    <span class="badge badge-info" >8</span>
                                </h3>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">  
                                <input type="button" value="Approve doctor" class="btn btn-sm btn-success" 
                                ng-click="doctorCtrl.approveDoctor(doctorCtrl.doctor.useraccountid)"/>
                            </div>
                            <div class="col-md-6">
                                <input type="button" value="Disable account" class="btn btn-sm btn-danger" 
                                ng-click="doctorCtrl.bannDoctor(doctorCtrl.doctor.useraccountid)"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>