<div class="animated fadeIn">
    <div class="row">    
        <div class="col-lg-12">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Doctors
            </div>
            <div class="card-block">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Doctor Name</th>
                            <th>Degree</th>
                            <th>Approved</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="doctor in doctorCtrl.doctors">
                            <td>
                                {{doctor.doctorname}}<br/>
                                <span class="badge badge-success">{{doctor.speciality}}</span><br/>
                            </td>
                            <td>
                                {{doctor.degree}}
                            </td>
                            <td>
                                <div ng-if="doctor.Users.isdoctor == 0">
                                    Pending
                                </div>
                                <div ng-if="doctor.Users.isdoctor == 1">
                                    Approved
                                </div>
                            </td>
                            <td>
                                <a ui-sref="app.components.doctordetails({doctor: doctor})" 
                                    class="btn btn-sm btn-success float-right">
                                    <i class="fa fa-eye"></i> View
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" ng-click="doctorCtrl.movePrev()">Prev</a>
                        </li>
                        <div ng-repeat="n in range(1,doctorCtrl.totalPages)">
                            <li class="page-item" ng-class="{'active':n == (doctorCtrl.pageNumber)}">
                                <a class="page-link" href="#" ng-click="doctorCtrl.moveTo(n)">{{n}}</a>
                            </li>
                        </div>
                        <li class="page-item">
                            <a class="page-link" href="#" ng-click="doctorCtrl.moveNext()">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>