<div class="animated fadeIn">
    <div class="row">    
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Users
                </div>
                <div class="card-block">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Type</th>
                                <th>Location</th>
                                <th>Up Votes</th>
                                <th>Down Votes</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in ctrl.users">
                                <td>
                                    {{user.displayname}}
                                    <br/>
                                    <div class="text-muted">
                                        <span class="badge badge-success">Reputation</span>
                                        <span class="badge badge-info">{{user.reputation}}</span>
                                    </div>
                                </td>
                                <td>{{user.email}}</td>
                                <td>
                                    <div ng-if="user.isdoctor == 0">
                                        Patient
                                    </div>
                                    <div ng-if="user.isdoctor == 1">
                                        Doctor
                                    </div>
                                </td>
                                <td>{{user.location}}</td>
                                <td>
                                    <i class="icon-arrow-up-circle"></i>
                                    {{user.upvotes}}
                                </td>
                                <td>
                                    <i class="icon-arrow-down-circle"></i>
                                    {{user.downvotes}}
                                </td>
                                <td>
                                    <a ui-sref="app.components.userdetails({user: user})" 
                                        class="btn btn-sm btn-success float-right">
                                        <i class="fa fa-eye"></i> View
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>