<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-user"></i> {{ctrl.user.displayname}}
                    <span class="badge badge-success float-right" >Reputation: {{ ctrl.user.reputation }}</span>
                </div>
                <div class="card-block">
                    <div class="card-block p-2">
                        <div class="row">
                            <div class="col-md-6">
                                <p>{{ctrl.user.email}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>{{ctrl.user.aboutme}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h2>
                                    <span class="badge badge-success" >
                                        Reputation: {{ ctrl.user.reputation }}
                                    </span>
                                </h2>
                            </div>
                            <div class="col-md-4">
                                <h2 class="text text-success">
                                    <i class="icon-arrow-up-circle"></i>
                                    {{ctrl.user.upvotes}}
                                </h2>
                            </div>
                            <div class="col-md-4">
                                <h2 class="text text-warning">
                                    <i class="icon-arrow-down-circle"></i>
                                    {{ctrl.user.downvotes}}
                                </h2>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>
                                    Questions
                                    <span class="badge badge-info" >10</span>
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Answers
                                    <span class="badge badge-info" >8</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>