<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard </a>
            </li>
            
            <li class="divider"></li>
            <li class="nav-title">
                Menu
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}">
                    <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" href="#"><i class="icon-puzzle"></i> Admin</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" ui-sref-active="active" ui-sref="app.components.users"><i class="icon-user"></i> Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ui-sref-active="active" ui-sref="app.components.doctors"><i class="icon-heart"></i> Doctors</a>
                        </li>
                    </ul>
            </li>
            </li>
        </ul>
    </nav>
</div>
